body {
    border: 1px solid #1e1e1e;
    background-color: #1e1e1e;
    color: white;
    min-width: 350px;
}

label {
    cursor: pointer;
}

.slider-container {
    display: flex;
    align-items: center;
}

.slider-value {
    margin-left: 10px;
    width: 20px;
    text-align: center;
}

.slider-text-label,
.slider-symbol,
.slider-value,
.toggle-container {
    font-size: 0.7rem;
}

.toggle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 55px;
    padding: 5px 0 7px 0;
    margin: 2px 0;
}

input[type="range"] {
    width: 100%;
    accent-color: #FF0000;
}

.toggle-container label {
    display: block;
}

.switch {
    position: relative;
    display: block;
    width: 20px;
    height: 12px;
    margin-top: 2px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #888;
    transition: background-color .2s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: transform .2s;
    border-radius: 50%;
}

.switch input:checked+.slider {
    background-color: #FF0000;
}

.switch input:checked+.slider:before {
    transform: translateX(8px);
}

.divider {
    margin: 20px 0;
}

.text-center {
    text-align: center;
}

.setting-box {
    background-color: #333333;
    border: 1px solid #1e1e1e;
}

.setting-subtitle {
    color: gray;
    font-size: 0.7rem;
    margin-bottom: 0;
    text-align: center;
}

.box-minititile {
    color: white;
    font-size: 0.8rem;
    margin-bottom: 20px;
    margin-top: 5px;
    text-align: center;
}

.save-btn-cont {
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px
}

.extra-padding-bottom {
    padding-bottom: 80px !important;
}

header {
    position: sticky;
    top: 0;
    background-color: #1e1e1e;
    padding: 20px 0 15px 0;
    z-index: 9999;
}

.yt-color {
    color: #FF0000;
}

.yt-bg-color {
    background-color: #FF0000;
}

.logo-image {
    width: 120px;
    margin-top: 30px;
}
.setting-box {
    background-color: #1c1c1c;
    color: #fff;
    margin-bottom: 15px;
}

.setting-subtitle {
    font-size: 0.9rem;
    color: #aaa;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.slider-symbol {
    font-weight: bold;
    font-size: 0.9rem;
}

input[type="range"] {
    width: 100px;
}
